{% extends "core/base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock sub_title %}

{% block content %}



    <div class="flex flex-col bg-slate-50 shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-md w-full max-w-md">
        <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">
            {% trans "Password reset" %}
        </div>
        <div class="mt-10">
            <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
            <a href="{% url 'users:login' %}" class="btn-link underline decoration-transparent hover:decoration-inherit transition duration-300 ease-in-out" >{% trans 'Log in' %}</a></p>
    </div>
    </div>

{% endblock content %}
