{% extends "base.html" %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block content %}

    <div >
        <div >



            <div >
                <span {{user_obj.first_name}}</span>
                    {% if user_obj.superhost %}
                        <i class="fas fa-check-circle "></i>
                    {% endif %}
                </div>

                <span >{{user.bio}}</span>

                {% if user == user_obj %}
                    <a href="{% url 'users:update' %}" class="btn-link">Edit Profile</a>
                {% endif %}

            </div>
            {% if user_obj.rooms.count > 0 %}
                <h3 >{{user_obj.first_name}}'s Rooms</h3>
                <div >
                    <div >

                    </div>
                </div>
            {% endif %}
        </div>
{% endblock content %}
