
<div class="md:flex justify-center items-center py-2">
    <div class="md:py-0 py-1">
        © {% now 'Y' %} Copyright: <a  href="mailto:vincent@neuralia.co">vincent@neuralia.co</a>
    </div>
    <div>
        <a class="p-1 md:p-2" href="https://github.com/vincentporte"><i class="fa-brands fa-github"></i></a>
        <a class="p-1 md:p-2" href="https://www.linkedin.com/in/vincentporte/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a class="p-1 md:p-2" href="https://www.instagram.com/vincentporte.m/" ><i class="fa-brands fa-instagram"></i></a>
        <a class="p-1 md:p-2" href="https://open.spotify.com/show/7vx463HpANvyI7cI2S6o83" ><i class="fa-brands fa-spotify"></i></a>
        <a class="p-1 md:p-2" href="https://neuralia.co/" ><i class="fa-regular fa-face-kiss-wink-heart"></i></a>
        <a class="p-1 md:p-2" href="https://vincentporte.gitlab.io/" ><i class="fa-solid fa-house-user"></i></a>
    </div>




</div>

