{% load i18n %}
<ul >
    {% if user.is_authenticated %}
        {% if not user.email_verified%}please check your mail box to verify your email{% endif %}
        {% if request.session.is_hosting %}
            <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans "Create Room" %}</a></li>
        {% endif %}

        <li class="nav_link"><a href="{{user.get_absolute_url}}">{% trans "Profile" %}</a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}">{% trans "Log out" %}</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">{% trans "Log in" %}</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">{% trans "Sign up" %}</a></li>
    {% endif %}
</ul>
